* {
  margin: 0;
  padding: 0;
}
h2 {
  margin-bottom: 30px;
}
.number_counter {
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
}
.btn {
  padding: 10px 20px;
  border-radius: 0px;
  border: 0;
  font-size: 20px;
  background: #f1f1f1;
  color: #222;
  text-transform: capitalize;
  transition: 0.3s;
}
.btn:hover {
  background: #ddd;
}
.buttons {
  display: flex;
  grid-gap: 10px;
  justify-content: center;
}

.menu_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.menu_widget {
  box-shadow: 0 4px 3px 2px rgba(0, 0, 0, 0.03);
  padding: 20px;
}
.menu_widget .thumb {
  overflow: hidden;
  margin-bottom: 20px;
}
.menu_widget .thumb img {
  width: 100%;
  transform: scale(1.2);
  transition: 0.3s;
}
.menu_widget:hover img {
  transform: scale(1.2);
}
.title_text {
  font-size: 25px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.desc_text {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
}
.buton_container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  margin: 10px 0 30px 0;
}
